<div class="container">
    <h2>Bewerken</h2>
    
    <div class="row">
        <div class="col-md-6 form-group">
          <label for="groepsnaam">Groepsnaam:</label>
          <input type="text" class="form-control" id="groepsnaam" ng-model="current.groep_naam" ng-disabled="readonly">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
          <label>Type:</label><br>
            <div class="btn-group">
                <label ng-repeat="(key, value) in herhaaltypes" class="btn btn-primary" ng-model="current.herhaaltype" uib-btn-radio="key"  ng-disabled="readonly">{{value}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group" ng-show="current.herhaaltype == 2">
            <label for="herhaalweek">Week:</label>
        
            <input type="number" class="form-control" id="herhaalweek" ng-model="current.herhaalweek" ng-disabled="readonly">
        </div>        
        <div class="col-md-6 form-group" ng-show="current.herhaaltype == 1">
            <label for="herhaaldag">Dag:</label>
        
            <input type="number" class="form-control" id="herhaaldag" ng-model="current.herhaaldag" ng-disabled="readonly">
        </div>
    
        <div class="col-md-6 form-group" ng-show="current.herhaaltype == 0 || current.herhaaltype == 2">
          <label for="weekdag">Weekdag:</label>
        

          <select class="form-control" id="weekdag" ng-model="current.herhaalweekdag" ng-disabled="readonly">
            <option ng-repeat="(key, value) in weekdagen" value="{{key}}">{{value}}</option>
          </select>
        </div>        
        

    </div>
        
    <div class="row">
        <div class="col-md-2 form-group">
            <label for="startdatum">Start datum:</label>
            <div class="input-group">
              <input type="text id="startdatum" class="form-control" uib-datepicker-popup="{{format}}" ng-model="current.startdatum" is-open="startOpen" datepicker-options="startDateOptions" ng-required="true" close-text="Sluiten" alt-input-formats="altInputFormats" ng-disabled="readonly" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
        
        <div class="col-md-4 form-group">
          <label>Dagdeel:</label><br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="current.ochtend" uib-btn-checkbox="d.id"  ng-disabled="readonly">Ochtend</label>
                <label class="btn btn-primary" ng-model="current.middag" uib-btn-checkbox="d.id"  ng-disabled="readonly">Middag</label>
                <label class="btn btn-primary" ng-model="current.avond" uib-btn-checkbox="d.id"  ng-disabled="readonly">Avond</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label for="einddatum">Eind datum:</label>
            <div class="input-group">
              <input type="text" id="einddatum" class="form-control" uib-datepicker-popup="{{format}}" ng-model="current.einddatum" is-open="eindOpen" datepicker-options="endDateOptions" ng-required="true" close-text="Sluiten" alt-input-formats="altInputFormats" ng-disabled="readonly || !current.eindig" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEind()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>

        <div class="col-md-4 form-group">
            <label for="eindig"></label>
            <div class="checkbox">
              <label><input type="checkbox" id="eindig" ng-model="current.eindig">Eindig</label>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 form-group">
          <label>Actief:</label><br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="current.actief" uib-btn-radio="true"  ng-disabled="readonly">Aan</label>
                <label class="btn btn-primary" ng-model="current.actief" uib-btn-radio="false"  ng-disabled="readonly">Uit</label>
            </div>
        </div>

        
    </div>
    
    
    <div class="row">
        <div class="col-md-12">
            <br>
            <button type="button" class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-ok" aria-hidden="true"  ng-disabled="readonly"></span> Opslaan</button>
            <button type="button" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuleren</button>
        </div>
    </div>
</div>